<template>
  <div class="calculator">
    <div class="display">
      <div id="areaA">{{memory }}</div>
      <div id="areaB">{{current || 0}}</div>
    </div>
    <div @click="cancel" class="btn">CE</div>
    <div @click="reset" class="btn">C</div>
    <div @click="d_elete" class="btn">del</div>
    <div @click="pdivide" class="btn operator">/</div>
   <div @click="append(7)" class="btn">7</div>
    <div @click="append(8)" class="btn">8</div>
    <div @click="append(9)" class="btn">9</div>
    <div  @click="ptimes" class="btn operator">x</div>
    <div @click="append(4)" class="btn">4</div>
    <div @click="append(5)" class="btn">5</div>
    <div @click="append(6)" class="btn">6</div>
    <div @click="pminus" class="btn operator">-</div>
    <div @click="append(1)" class="btn">1</div>
    <div @click="append(2)" class="btn">2</div>
    <div @click="append(3)" class="btn">3</div>
    <div @click="add" class="btn operator">+</div>
    <div @click="append(0)" class="btn">0</div>
    <div  @click="dot" class="btn">,</div>
    <div @click="sign"  class="btn">+/-</div>
    <div @click="equalsTo" class="btn operator">=</div>
  </div>
</template>

<script>
export default {

  data() {
    return {
      current:0,
      memory:'',
      previous: 0,
      operator:null,
      operatorClicked: false,
      tab:[],
      resultSaved: 0,
    }
  },

  methods:{

    cancel(){
      this.current = 0;
    },

    reset(){
      this.current = 0;
      this.memory = '';
    },

    d_elete(){
      let convertToString = this.current.toString(); // conversion en caractère
      let convertToArray = convertToString.split(""); // conversion de caractère à tableau
      convertToArray.pop(); // perte de la queue
        if(convertToArray.length > 0){
            let revertToString = convertToArray.toString(); //retour en chaine
            const coma = convertToArray.find(element => element ==='.'); //entier ou flottant
            let removeSep = revertToString.split(",");
            removeSep = revertToString.replace(/,/g,"");
            if(coma == '.')
                this.current = parseFloat(removeSep);
            else
                this.current = parseInt(removeSep);
        }
        else this.current = 0;
        },

    sign(){
        this.current *= -1;
    },

    append(number){
       if(this.operatorClicked){
           this.current = 0;
           //this.memory = this.memory + '+';
           this.operatorClicked = false;
       }

      if(this.current == 0) {
        if (number != 0)
          this.current = number;
      }
      else
          this.current = this.current + "" + number;
      //this.memory = this.memory + "" + number;
    },

    dot(){
      if(this.current.indexOf('.') === -1){
        this.append('.');
      }
    },

    setPrevious(){
        this.previous = this.current;
        this.current = 0;
        this.operatorClicked = true;
    },

     add(){
        this.operator = (a,b) => (a+b);
        this.setPrevious();
     },

      pminus(){
          this.operator = (a,b) => (a-b);
          this.setPrevious();
      },

      ptimes(){
          this.operator = (a,b) => (a*b);
          this.setPrevious();
      },

      pdivide(){
          this.operator = (a,b) => (a/b);
          this.setPrevious();
      },
      equalsTo(){
          this.current =  this.operator (parseFloat(this.previous), parseFloat(this.current));
          this.operatorClicked = true;
  }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
  .calculator{
    width: 500px;
    margin: 0 auto;
    font-size: 40px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(50px,auto);
    }
  .display{
    grid-column: 1 / 5;
    grid-template-rows: 1fr 2fr;
    background-color: black;
  color: white;
  }
  #areaA{
    font-size: large;
    opacity: 1;
  }
  .btn{
    background-color: rgb(174, 230, 118);
    border: 1px solid #333;
  }
  .operator{
    background-color: rgb(21,101,9);
    color: white;


  }
</style>
